<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">

    <h2>Infos</h2>
    <div class="info">
      <div>
        Encrypted key: <input type="text" v-model="encryptedKey"/>
      </div>

      <span v-if="service">
        serviceMnemo: {{ service.service.mnemo }}
        destSens: {{ service.dests[0].direction }}
      </span>
      <span v-if="stop">  
        stopId: {{ stop.ref }}
      </span>
      <div>
        <span>URL:</span>
        <span v-if="service && stop">
          {{ url }}
          <a :href="url">test</a>
        </span>
      </div>
    </div>


    <h2>Formulaire</h2>
    <div class="form">
      <div class="service">
        <vue-suggestion 
          class="service-input"
          :items="services" 
          v-model="service" 
          :setLabel="setServiceAndDestLabel"
          :itemTemplate="serviceTemplate"
          :minLen=0
          @changed="serviceChange" 
          @selected="serviceSelected">
        </vue-suggestion>

        <div class="service-name">
          <span v-if="service"> &gt; {{ service.service.name }}</span>
        </div>
      </div> 

      <div class="stop">
        <vue-suggestion 
          class="stop-input"
          :items="stops"
          v-model="stop"
          :setLabel="setStopLabel"
          :itemTemplate="stopTemplate"
          :minLen=0
          :disabled="!service"
          @changed="stopChange"
          @selected="stopSelected">
        </vue-suggestion>
      </div>
    </div>

  </div>
</template>

<script>
import Vue from 'vue'
import VueSuggestion from 'vue-suggestion'
import serviceTemplate from './service-template.vue';
import stopTemplate from './stop-template.vue';

import stopsData from './tao-stops-data.json'
import destsData from './tao-dests-data.json'
import servicesData from './tao-services-data.json'


Vue.use(VueSuggestion)

export default {
  data() {
    console.log('stopsData:', stopsData);

    let allServicesAndDest = servicesData.services.map(service => {
        let dests = service.dests.map(d => destsData.dests.filter(dest => dest.ref === d)).reduce((a, b) => a.concat(b)).filter(d => d.ref > 3);
        let aDests = dests.filter(dest => dest.direction === 'A');
        let rDests = dests.filter(dest => dest.direction === 'R');

        let aDestsNames = [...new Set(aDests.map(dest => dest.name))];
        let rDestsNames = [...new Set(rDests.map(dest => dest.name))];
        console.debug(dests, aDests, aDestsNames, rDests, rDestsNames);

        //console.debug('dests:', dests);
        return [{
              service: service,
              dests: aDests,
              destConcat: aDestsNames.join(' - ')
          }, {
              service: service,
              dests: rDests,
              destConcat: rDestsNames.join(' - ')
          }];
      }).reduce((a, b) => a.concat(b)).filter(a => a);

    console.debug('allServicesAndDest:', allServicesAndDest);
    return {
      allStops: stopsData.busStops,
      allServices: servicesData.services,
      allDests: destsData.dests,
      allServicesAndDest: allServicesAndDest,
      services: allServicesAndDest,
      service: null,
      stops: [],
      stop: null,
      encryptedKey: '',
      url: '',
      serviceTemplate,
      stopTemplate,
    }
  },
  watch: {
    encryptedKey: function() {
      this.updateUrl();
    }
  },
  name: 'App',
  components: {
  },

  methods: {
    serviceSelected (item) {
      console.log('service selected:', item.service);
      console.log('dests selected:', item.dests);
      
      this.service = item;

      this.stopChange('');
    },
    setServiceLabel (item) {
      if (!item.mnemo) return '';
      return item.mnemo;
    },
    setServiceAndDestLabel (item) {
      if (!item.service) return '';
      //return item.service.mnemo + ' :: ' + item.service.name + ' :: ' + item.destConcat;
      return item.service.mnemo + ' :: ' + item.destConcat;
    },
    serviceChange (text) {
      this.service = null,

      console.debug('change text:', text);
      let words = removeAccents(text).toLowerCase().split(/[^a-z0-9]+/)
      console.debug('filtering words:', words);

      // Filtrage des mots avec du sens
      var meaningfullWords = [];
      if (words.length === 1) {
	meaningfullWords.push(words[0]);
      } else if (words.length > 1) {
        var longWords = words.filter(w => w.length >= 2);
        meaningfullWords = longWords;
      }	

      console.debug('meaningfullWords:', meaningfullWords);

      // your search method
      this.services = this.allServicesAndDest.filter(item => {
        //let label = this.setServiceLabel(item);
        //let label = this.setServiceAndDestLabel(item);
        let label = item.service.mnemo;
	let wordsMatching = meaningfullWords.map(word => removeAccents(label).toLowerCase().includes(word));
        let score = wordsMatching.map(match => match ? 1 : 0).reduce((a, b) => a + b);
        return score >= meaningfullWords.length;
      });

      //let services = this.items.map(item => item.services).reduce((a, b) => a.concat(b));
      console.log('services:', this.services);
    },

    updateUrl() {
      if (this.stop && this.service) {
        this.url = `http://94.143.218.36/ws.php?module=json&key=${ this.encryptedKey }&function=getBusTimes&stopId=${ this.stop.ref }&refService=${ this.service.service.mnemo }`;
      }
    },

    stopSelected (item) {
      console.log('stop selected:', item);
      this.stop = item;
      this.updateUrl();
    },
    setStopLabel (item) {
      return item.name;
    },
    stopChange (text) {
      this.stop = null;

      console.debug('change text:', text);
      var words = removeAccents(text).toLowerCase().split(/[^a-z0-9]+/)
      console.debug('filtering words:', words);

      // Filtrage des mots avec du sens
      var meaningfullWords = [];
      if (words.length === 1) {
	meaningfullWords.push(words[0]);
      } else if (words.length > 1) {
        var longWords = words.filter(w => w.length >= 2);
        meaningfullWords = longWords;
      }	

      console.debug('meaningfullWords:', meaningfullWords);

      // your search method
      let filteredStops = this.allStops.filter(stop => stop.services.includes(this.service.service.ref) && this.service.dests.filter(dest => stop.dests.includes(dest.ref)).length > 0);
      console.debug('filteredStops:', filteredStops);

      let matchingStops = filteredStops.filter(item => {
	var wordsMatching = meaningfullWords.map(word => removeAccents(item.name).toLowerCase().includes(word));
        var score = wordsMatching.map(match => match ? 1 : 0).reduce((a, b) => a + b);
        return score >= meaningfullWords.length;
      });
      console.debug('matchingStops:', matchingStops);

      this.stops = matchingStops;
    },
  },
}

function removeAccents(str) {
  let accents = 'ÀÁÂÃÄÅàáâãäåßÒÓÔÕÕÖØòóôõöøÈÉÊËèéêëðÇçÐÌÍÎÏìíîïÙÚÛÜùúûüÑñŠšŸÿýŽž';
  let accentsOut = "AAAAAAaaaaaaBOOOOOOOooooooEEEEeeeeeCcDIIIIiiiiUUUUuuuuNnSsYyyZz";
  str = str.split('');
  str.forEach((letter, index) => {
    let i = accents.indexOf(letter);
    if (i != -1) {
      str[index] = accentsOut[i];
    }
  })
  return str.join('');
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.info {
    text-align: left;
}

.info input {
    width: 300px;
}

.form {
    display: flex;
}

input {
    width: 100%;
}

.service-input {
    width: 400px;
}

.service-name {
    text-align: left;
}

.stop-input {
    width: 300px;
}

.vue-suggestion .vs__list {
    width: 100%;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #023d7b;
    position: relative;
}
.vue-suggestion .vs__list .vs__list-item {
    background-color: #fff;
    padding: 10px;
    border-left: 1px solid #023d7b;
    border-right: 1px solid #023d7b;
}
.vue-suggestion .vs__list .vs__list-item:last-child {
    border-bottom: none;
}
.vue-suggestion .vs__list .vs__list-item:hover {
    background-color: #eee !important;
}
.vue-suggestion .vs__list,
.vue-suggestion .vs__loading {
    position: absolute;
}
.vue-suggestion .vs__list .vs__list-item {
    cursor: pointer;
}
.vue-suggestion .vs__list .vs__list-item.vs__item-active {
    background-color: #f3f6fa;
}
</style>
