<template>
  <div>
    <b>#{{ item.service.mnemo }}</b> 
    &nbsp;::&nbsp;
    <!--
    <span>{{ item.service.name }}</span>
    &nbsp;::&nbsp;
    -->
    <span>{{ item.destConcat }}</span>
  </div>
</template>

<script>

export default {
  props: {
    item: { required: true },
  },
  data () {
    return {
    };
  },
  methods: {
  }
}
</script>
