<template>
  <div>
    <b>#{{ item.ref }}</b> 
    &nbsp;
    <span>Arrêt {{ item.name }}</span>
    &nbsp;
    <!--
    <span>{{ resolvDests(item.dests) }}</span>
    &nbsp;
    <span>{{ resolvServices(item.services) }}</span>
    -->
  </div>
</template>

<script>

import busDestsData from './tao-dests-data.json'
import busServicesData from './tao-services-data.json'

export default {
  props: {
    item: { required: true },
  },
  data () {
    console.log('should be built only once !');
    return {
      busDestsData: busDestsData.dests,
      busServicesData: busServicesData.services
    };
  },
  methods: {
    resolvDests(destRefs) {
      return destRefs.map(destRef => this.busDestsData.filter(dest => dest.ref === destRef).map(dest => dest.name));
    },
    resolvServices(serviceRefs) {
      return serviceRefs.map(serviceRef => this.busServicesData.filter(service => service.ref === serviceRef).map(dest => dest.mnemo + ' ' + dest.name));
    },
  }
}
</script>
